.pasos {
    /* font-size: 14px; */
    font-family: Arial, Helvetica, sans-serif;
    color: #ED1848;
    line-height: 150%;
}

#texto-registro {
    font-size: 22px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ED1848;
    margin-top: 0.5%;
}

#p-pasos {
    margin-top: 2%;
}

#btn-continuar {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #ED1848;
    border-color: #ED1848;
    width: 100%;
    margin-bottom: 10%;
    margin-top: 10%;
    -webkit-border-radius: 10px;
    padding: 5%;
}

.img-container {
    margin-left: -16px;
    margin-right: -16px;
  }

#btn-continuar {
    margin-top: 2%;
    margin-bottom: 2%;
  }
  
  #fotoVerificado{
    width: 35%;
  }
  
  .contenedorImagen{
    padding: 0.5rem 0rem;
  }
  
  @media screen and (orientation:landscape){
    .continuar{
        padding-top: 10%;
    }
  
    .texto-tutorial {
      white-space: pre-wrap;
  }
  }
  
  @media screen and (min-height:540px) {
    #fotoVerificado{
      width: 45%;
    }
    .contenedorImagen{
      padding: 0.75rem 0rem;
    }
  }
  
  @media screen and (min-height:580px) {
    .contenedorImagen{
      padding: 1.25rem 0rem;
    }
    #fotoVerificado{
      width: 50%;
    }
  }
  @media screen and (min-height:640px) {
    .contenedorImagen{
      padding: 2.25rem 0rem;
    }
    #fotoVerificado{
      width: 55%;
    }
  }
  
  @media screen and (min-height:680px) {
    .contenedorImagen{
      padding: 2.5rem 0rem;
    }
    #fotoVerificado{
      width: 60%;
    }
  }
  
  @media screen and (min-height:740px) {
    .contenedorImagen{
      padding: 3rem 0rem;
    }
  }
  